extends layout.pug

block content
  - data
  ul
    each post in tweets
      .post-card
        p=post.text
        p=post.created_at
        - var items = post.entities.user_mentions
        each item in items
          p=item.screen_name
